<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EleSy.CV.ActiveX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EleSy.CV.ActiveX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EleSy.CV.ActiveX.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="OPC" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoRunTimBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox2" serializeAs="String">
                <value />
            </setting>
            <setting name="dataGridView1s" serializeAs="String">
                <value />
            </setting>
            <setting name="mineBindList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoWidthCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </EleSy.CV.ActiveX.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EleSy.CV.ActiveX.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>1.03</value>
            </setting>
        </EleSy.CV.ActiveX.Properties.Settings>
    </applicationSettings>
</configuration>